<div class="background-image"></div>

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container-fluid">
    <h5 class="active">Citas psicológicas</h5>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <form class="d-flex">
        <button class="btn btn-outline-primary me-2" type="button" routerLink="/login">Iniciar Sesión</button>
      </form>
    </div>
  </div>
</nav>

<div class="content">
  <br>
  <div class="modal-body">
    <div class="container">
      <br>
      <div class="card mx-auto" style="max-width: 600px;">
        <div class="modal-header">
          <h4 class="modal-title">Registrar Usuario</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="user-form">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input id="nombre" formControlName="nombre" class="form-control form-control-sm" />
              <div *ngIf="formControls['nombre'].invalid && formControls['nombre'].touched" class="text-danger">
                El nombre es obligatorio.
              </div>
            </div>
            <div class="form-group">
              <label for="fecha_nacimiento">Fecha de Nacimiento</label>
              <input id="fecha_nacimiento" formControlName="fecha_nacimiento" type="date" class="form-control form-control-sm" />
              <div *ngIf="formControls['fecha_nacimiento'].invalid && formControls['fecha_nacimiento'].touched" class="text-danger">
                La fecha de nacimiento es obligatoria.
              </div>
            </div>
            <div class="form-group">
              <label for="telefono">Teléfono</label>
              <input id="telefono" formControlName="telefono" type="tel" class="form-control form-control-sm" />
              <div *ngIf="formControls['telefono'].invalid && formControls['telefono'].touched" class="text-danger">
                Debe ser un número de teléfono válido (10 dígitos).
              </div>
            </div>
            <div class="form-group">
              <label for="email">Correo</label>
              <input id="email" formControlName="email" type="email" class="form-control form-control-sm" />
              <div *ngIf="formControls['email'].invalid && formControls['email'].touched" class="text-danger">
                Ingresa un correo válido.
              </div>
            </div>
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input id="password" formControlName="password" type="password" class="form-control form-control-sm" />
              <div *ngIf="formControls['password'].invalid && formControls['password'].touched" class="text-danger">
                La contraseña debe tener al menos 6 caracteres.
              </div>
            </div>            
            <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


